# See /usr/share/postfix/main.cf.dist for a commented, more complete version

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

# INTERNET HOST AND DOMAIN NAMES
#
# Internet hostname of this system. Used as a default value for other
# configuraiton parameters.
myhostname = mail.foghlaim.com

# Used as a default value for other configuration parameters
mydomain = foghlaim.com

# SENDING MAIL
#
# Specifies the domain that locally posted mail appears to come from. In
# our setup, we'll use the Debian default /etc/mailname to specify the
# domain. The only line in this file reads 'foghlaim.com'
myorigin = /etc/mailname

# RECEIVING MAIL
#
# Indicates that mail is being received on all network interfaces, which
# is the default setting
inet_interfaces = all

# The list of domains that this machine considers itself the final mail
# destination for.
mydestination = foghlaim.com, FOGHLAIMLinode, localhost.localdomain, localhost

# TRUST AND RELAYS
#
# By default, Postfix trusts any machines that are on the same subnet as
# this machine. This *could* end up weird on a VPS as we're sharing an IP
# range with a bunch of others.
mynetworks_style = host

# Of course, this directive explicitly limits mail to the current network,
# overrideing our mynetworks_style directive, but I like being explicit.
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

# Postfix will relay mail from anybody on this machine to any host. It will
# relay mail from other machines to only the domains specified in the
# following directive. This doesn't really do anything, as we aren't allowing
# relay mail from other machines, but I like being explicit. :)
relay_domains = $mydestination

# When no relayhost is specified, mail is routed directly to the destination.
relayhost =

# ALIAS DATABASE
#
# The alias_maps parameter specifies the list of alias databases used by the
# local delivery agent. I'm not entirely sure what that means yet.
alias_maps = hash:/etc/aliases

# The alias_database parameter specifies the alias database(s) that are built
# with newaliases. I'm not entirely sure what that means yet.
alias_database = hash:/etc/aliases

mailbox_size_limit = 0
recipient_delimiter = +

# DKIM
milter_default_action = accept
milter_protocol = 2
smtpd_milters = inet:localhost:8891
non_smtpd_milters = inet:localhost:8891