.vscode/

# Root WordPress files.
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Root WordPress directories.
/wp-admin/
/wp-includes/

# Specific pieces of wp-content directory.
/wp-content/uploads
/wp-content/images

# Ignore local must use changes.
/wp-content/mu-plugins/jf-local.php

# Plugins under local development
/wp-content/plugins/block-use-dashboard
/wp-content/plugins/comments-project
/wp-content/plugins/jeremyfelt-indieweb-custom
/wp-content/plugins/jeremyfelt-wp-custom
/wp-content/plugins/dalarna
/wp-content/plugins/self-sustaining-spam-stopper
/wp-content/plugins/varmland

# Themes under local development
/wp-content/themes/writemore

# Backups that may frequently appear locally.
*.sql
*.sql.gz
