/*---------------------------------------------------------
 Print (print-style.css)
-------------------------------------------------------- */
* {
	color: #000000 !important;
	text-shadow: none !important; /*reset*/
	box-shadow: none !important; /*reset*/
	font-family: Georgia, Times, "Times New Roman", serif !important;
	font-size: 12px !important;
	word-spacing: 0 !important; /*reset*/
	border-color: #cccccc !important;
}
*:before {
	content: "" !important; /*reset*/
	padding: 0 !important; /*reset*/
}
*:after {
	content: "" !important; /*reset*/
	padding: 0 !important; /*reset*/
}
button {
	border: 0 !important; /*reset*/
}
a {
	color: blue !important;
	font-weight: normal !important;
	text-decoration: underline !important;
}
.entry-content p a[href]:after,
.entry-content div a[href]:after,
.social-links a[href]:after {
	content: " (" attr(href) ")" !important;
}
img {
	max-width: 100% !important;
}
/*---------------------------------------------------------
 Reset styles (_sidebar.scss)
-------------------------------------------------------- */
blockquote.ttfmake-testimonial:after {
	content: none !important;
}
/*---------------------------------------------------------
 Hide elements (_sidebar.scss)
-------------------------------------------------------- */
#site-navigation,
#respond,
#comments .reply,
#infinite-handle,
.nav-links,
.search-form,
.widget_search,
.cycle-pager,
.cycle-prev,
.cycle-next {
	display: none;
}