node_modules
TAGS
wordpress-tests-lib
wordpress
/vendor/*
!/vendor/mf2
/vendor/mf2/mf2/*
!/vendor/mf2/mf2/LICENSE.md
!/vendor/mf2/mf2/Mf2
!/vendor/p3k
/vendor/p3k/emoji-detector/*
!/vendor/p3k/emoji-detector/src
!/vendor/p3k/emoji-detector/LICENSE
.DS_Store
package-lock.json
composer.lock
